<!DOCTYPE html>
<html>
<title>เว็บรวมเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
    <a href="home" class="w3-bar-item w3-button">เว็บรวมเพลงพระราชนิพนธ์</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
      <a href="kingsong1" class="w3-bar-item w3-button">H.M. Blues</a>
      <a href="kingsong2" class="w3-bar-item w3-button">Love at Sundown</a>
      <a href="kingsong3" class="w3-bar-item w3-button">Magic Beams</a>
    </div>
  </div>
</div>

 <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <a href="https://www.mx7.com/view2/zRPcX9YgMjllCDnv" target="_blank"><img border="0" src="https://www.mx7.com/i/17d/6vNAlG.jpg"  width="600" height="750"/></a>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Magic Beams</h1><br>
      <h5 class="w3-center">- แสงเดือน - </h5>
      <p class="w3-large">
 นวล...แสงนวลผ่องงามตา
แสงจันทรา...ส่องเรืองฟากฟ้าไกล
งาม...แสงงามผ่องอำไพ
ย้อมดวงใจ...ให้คงคลั่งใคล้เดือน
ชมแล้วชมเล่า เฝ้าชะแง้แลดู
เพลินพิศเพลินอยู่ ไม่รู้ลืมเลือน
เดือน...แสงเดือนผ่องวันเพ็ญ
แสงจันทร์เพ็ญ...เด่นงามใดจะเหมือน
โฉมงามเทียบ เปรียบเดือนแสงงาม
<h6 class="w3-center">- English version - </h6>
Bright shines the moon above
I'm in love, forlorn and lonely.
Soft sails the moon on high
But I sigh, I miss you only.
Come back to me beloved one
Come back to me the night is done.
Love, by these magic beams
My fond dreams have all come true.
You have come now I have you.
    </div>
  </div>
  


<footer class="w3-center w3-light-grey w3-padding-32">
  <p>.....PRAPAPORN SRISUMRIT.....</p>
</footer>

</body>
</html>
