<!DOCTYPE html>
<html>
<title>เว็บรวมเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
    <a href="home" class="w3-bar-item w3-button">เว็บรวมเพลงพระราชนิพนธ์</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
      <a href="kingsong1" class="w3-bar-item w3-button">H.M. Blues</a>
      <a href="kingsong2" class="w3-bar-item w3-button">Love at Sundown</a>
      <a href="kingsong3" class="w3-bar-item w3-button">Magic Beams</a>
    </div>
  </div>
</div>

 <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <a href="https://www.mx7.com/view2/zRP8HLLy5IAtG84K" target="_blank"><img border="0" src="https://www.mx7.com/i/1ee/J5IH9Z.jpg" width="600" height="750">/></a>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">H.M. Blues</h1><br>
      <h5 class="w3-center">- ชะตาชีวิต - </h5>
      <p class="w3-large">
 นกน้อยคล้อยบินมาเดียวดาย
คิดคิดมิวายกังวลให้หม่นฤทัยหมอง
ขาดมวลมิตรไร้คนสนิทคู่เคียงครอง
หลงใหลหมายปองคนปรานี
ขาดเรือนแหล่งพักพำนักนอน
ขาดญาติบิดรและน้องพี่
บาปกรรมคงมี
จำทนระทม
 
ท้องฟ้าสายัณห์ตะวันเลือน
แสงลับนับวันจะเตือนให้ใจต้องขื่นขม
หากเย็นลงฟ้าคงยิ่งมืดยิ่งตรอมตรม
ชีวิตระทมเพราะรอมา
จวบจันทร์แจ่มฟ้านภาผ่อง
เฝ้ามองให้เดือนชุบวิญญาณ์
สักวันบุญมา
ชะตาคงดี
<h6 class="w3-center">- English version - </h6>
We 've got the Hungry Men's Blues.
You'll be hungry too, if you're in this band.
Don't you think that our music is grand?
We've got the Hungry Men's Blues.
You've eaten now all of you.
We'd like to eat with you too,
That's why we've got the H.M. Blues.
  </div>
  


<footer class="w3-center w3-light-grey w3-padding-32">
  <p>.....PRAPAPORN SRISUMRIT.....</a></p>
</footer>

</body>
</html>
