<!DOCTYPE html>
<html>
<title>เว็บรวมเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
    <a href="home" class="w3-bar-item w3-button">เว็บรวมเพลงพระราชนิพนธ์</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
      <a href="kingsong1" class="w3-bar-item w3-button">H.M. Blues</a>
      <a href="kingsong2" class="w3-bar-item w3-button">Love at Sundown</a>
      <a href="kingsong3" class="w3-bar-item w3-button">Magic Beams</a>
    </div>
  </div>
</div>

 <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <a href="https://www.mx7.com/view2/zRPaNa0tAKecTLBM" target="_blank"><img border="0" src="https://www.mx7.com/i/13d/f2EJ9C.jpg"  width="600" height="750" /></a>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Love at Sundown</h1><br>
      <h5 class="w3-center">- ยามเย็น - </h5>
      <p class="w3-large">
 แดดรอนรอน
เมื่อทินกรจะลับเหลี่ยมเมฆา
ทอแสงเรืองอร่ามช่างงามตา
ในนภาสลับจับอัมพร
แดดรอนรอน
เมื่อทินกรจะลาโลกไปไกล
ยามนี้จำต้องพรากจากดวงใจ
ไกลแสนไกลสุดห่วงยอดดวงตา
แต่ก่อนเคยคลอเคลียกัน
ทุกวันคืนรื่นอุรา
ต้องอยู่เดียวเปลี่ยนวิญญาณ์ 
เหมือนดังนภาไร้ทินกร
แดดรอนรอน 
หากทินกรจะลาโลกไปไกล
ความรักเราคงอยู่คู่กันไป  
ในหัวใจคงอยู่คู่เชยชม
แดดรอนรอน 
หมู่มวลภมรบินลอยล่องตามลม
คลอเคล้าพฤกษาชาติชื่นเชยชม  
ชมสมตามอารมณ์ล่องเลยไป
ลิ่วลมโชย 
กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย
ยามสายัณห์พลันพรากจากดวงใจ 
คอยแสงทองวันใหม่กลับคืนมา
แต่ก่อนเคยคลอเคลียกัน
ทุกวันคืนชื่นอุรา
ต้องอยู่เดียวเปลี่ยววิญญาณ์ 
เหมือนดังนภาไร้ทินกร
โอ้ยามเย็น  
จวบยามนี้เป็นเวลาสุดอาวรณ์
ยามไร้ความสว่างห่างทินกร  
ยามรักจำจะจรจากกันไป
<h6 class="w3-center">- English version - </h6>
'Tis sundown.
The golden sunlight tints the bule sea.
Paints the hill and gilds the palm tree,
Happy be, my love, at sundown.
'Tis sundown.
The multi-coloured dancing sunbeam
Brightly shines on in my heart's dream
Of the one I love, at sundown.
The birds come to their nest
At peace, they bill and coo.
The wide world sinks to rest,
And so do I and so do you.
'Tis sundown.
In splendour sinks the sun, comes twilight,
Day is done, now greets the cool night.
Happy be, my love, at sundown.
    </div>
  </div>
  


<footer class="w3-center w3-light-grey w3-padding-32">
  <p>.....PRAPAPORN SRISUMRIT.....</a></p>
</footer>

</body>
</html>
